* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #6a7276;
  color: #eadfdf;
}

.header h1 {
  display: inline-block;
  font-size: 20px;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 10px;
  
}

.header nav ul {  
  list-style-type: none; 
  display: inline-block;
  
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  
}


a {
  color: #c11d1d;
  text-decoration: none;
}

/* h1, */
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
